@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

* {
  margin: 0;
}

body,
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  grid-row-gap: 50px;
  max-width: 1000px;
  margin: auto;
  background-color: rgb(252 252 252);
  padding: 0 20px;
  box-shadow: 0 0 3px 0px #d2d2d2;
}

.container.home {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px auto auto 150px;
  grid-template-areas:
    "header header"
    "aside aside"
    "article article"
    "footer footer";
}

.container.checkout {
  grid-template-columns: 1fr;
  grid-template-rows: 75px auto 150px;
  grid-template-areas:
    "header"
    "form"
    "footer";
}

header {
  grid-area: header;
  display: flex;
  grid-gap: 30px;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #ececec;
  border-top: none;
  margin: 0 -20px;
}

header img {
  height: 30px;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav img {
  display: none;
  height: 35px;
}

article {
  grid-area: article;
}

article > h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2em;
}

article .course:not(:last-child) {
  margin-bottom: 40px;
}

aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ececec;
}

.testimonial {
  margin: auto;
  text-align: center;
}

.testimonial .author {
  margin: 15px 0;
}

.testimonial-header {
  position: relative;
}

.testimonial .quotes {
  position: absolute;
  z-index: 1;
  left: 50px;
  width: 40px;
  top: 30px;
}

.testimonial .avatar {
  width: 100px;
  border-radius: 100%;
  display: block;
  margin: auto;
}

footer {
  grid-area: footer;
  padding: 20px;
  background-color: white;
  border-top: 1px solid #ececec;
  margin: 0 -20px;
}

.button {
  background-color: #0040ff;
  padding: 10px 25px;
  color: white;
  border-radius: 20px;
  display: inline-block;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  font-size: initial;
}

.button:hover {
  background-color: #2c5be6;
}

a.button {
  text-decoration: none;
}

.course p {
  margin: 20px 0;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 150px;
  gap: 20px 70px;
}

form h2,
form h1,
form > hr {
  grid-column: span 2;
}

form h2:not(:first-child) {
  margin: 20px 0;
}

label.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  padding: 10px 15px;
  font-family: inherit;
  border-radius: 5px;
  border: solid 1px #d0d0d0;
}

form.checkout input[type="submit"] {
  grid-area: span 2 / 2;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  nav img {
    display: block;
  }

  nav a.button {
    display: none;
  }

  form.checkout,
  aside {
    grid-template-columns: 1fr;
  }

  form.checkout input[type="submit"] {
    grid-area: auto;
  }

  form h2,
  form h1,
  form > hr {
    grid-column: auto;
  }

  form {
    padding: 0;
    margin: auto;
  }
}
